### Clean users and empty tweets

In [1]:
import pandas as pd
pd.options.display.max_colwidth = 250
from tqdm import tqdm, tqdm_notebook
pd.__version__ # marche pas avec pandas 0.25 https://github.com/tqdm/tqdm/issues/780
tqdm_notebook().pandas()

'0.24.2'

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [2]:
INPUT_FILE_GZIP = './_sources_final/pickles/pression_sociale_rounds_1_2_3_corrected_search_str_opt_clean_text_dup100.pickle.gzip'

In [3]:
df = pd.read_pickle(INPUT_FILE_GZIP, compression='gzip')

In [4]:
len(df)

15883627

### Check users

In [5]:
#### Control user names - tweet texts
df[df.user_name.isnull() == True]

,id,conversation_id,date_end,date_start,datetime,is_quote,is_reply,is_retweet,nbr_favorite,nbr_reply,nbr_retweet,search_string,text,user_id,user_name,string_date,text_clean,dup_100
9084156,849317161487273985,849317161487273985,2017-06-10,2017-03-26,2017-04-04 19:46:05,False,False,False,0,0,0,University of Manchester,Graphene sieve could make seawater drinkable - Researchers at the University of Manchester have developed a gra... http:// ow.ly/jzq350aDr3Y,186552155,NaN,universityofmanchester_2017-03-26,graphene sieve could make seawater drinkable researchers at the university of manchester have developed a gra,False
12381963,936003218080960513,936003218080960513,2018-01-19,2017-11-04,2017-11-29 23:45:31,False,False,False,0,0,0,Toys R Us,"Mold risk causes Toys ""R"" Us to recall 6,000 clay craft kits http:// ow.ly/Jnmg50frOJT",186552155,NaN,toysrus_2017-11-04,mold risk causes toys r us to recall clay craft kits,False

In [6]:
# Il y a un user dont le name est NA -> a été considéré comme null
# On corrige cela
df.at[9084156, 'user_name'] = 'NA'
df.at[12381963, 'user_name'] = 'NA'

In [7]:
df[df.user_name.isnull() == True]

Empty DataFrame
Columns: [id, conversation_id, date_end, date_start, datetime, is_quote, is_reply, is_retweet, nbr_favorite, nbr_reply, nbr_retweet, search_string, text, user_id, user_name, string_date, text_clean, dup_100]
Index: []

In [8]:
# Users vides
df[df.user_name.str.strip() == '']

Empty DataFrame
Columns: [id, conversation_id, date_end, date_start, datetime, is_quote, is_reply, is_retweet, nbr_favorite, nbr_reply, nbr_retweet, search_string, text, user_id, user_name, string_date, text_clean, dup_100]
Index: []

### Check texts

In [9]:
# textes vides
vides = df[df.text_clean.str.strip() == '']
print(len(vides))
vides.head(2)

451

,id,conversation_id,date_end,date_start,datetime,is_quote,is_reply,is_retweet,nbr_favorite,nbr_reply,nbr_retweet,search_string,text,user_id,user_name,string_date,text_clean,dup_100
54807,472525500070772736,472525500070772736,2014-06-28,2014-04-13,2014-05-31 01:50:32,False,False,False,0,0,0,Aston Martin,Aston......Martin .......Music.......Music,293821629,TRod_95,astonmartin_2014-04-13,,True
72157,460925240449982465,460925240449982465,2014-06-28,2014-04-13,2014-04-29 01:35:15,False,False,False,2,0,0,Aston Martin,Aston....Martin ....Music,339313289,BillBoutachek,astonmartin_2014-04-13,,True

In [10]:
df = df.drop(df[df.text_clean.str.strip() == ''].index)

In [11]:
len(df[df.text_clean.str.strip() == ''])

0

### Save the file

In [12]:
OUTPUT_FILE_GZIP = './_sources_final/pickles/pression_sociale_rounds_1_2_3_corrected_search_str_opt_clean_text_dup100_clean.pickle.gzip'

In [13]:
df.to_pickle(OUTPUT_FILE_GZIP, compression='gzip')