In [1]:
import pandas as pd

In [2]:
FILE1 = './_sources_final/pickles/pression_sociale_round_1.pickle'
FILE2 = './_sources_final/pickles/pression_sociale_round_2.pickle'
FILE3 = './_sources_final/pickles/pression_sociale_round_3.pickle'

In [16]:
OUTPUT_FILE_GZIP = './_sources_final/pickles/pression_sociale_rounds_1_2_3.pickle.gzip'

### DATA ROUND 1

In [3]:
df1 = pd.read_pickle(FILE1)

In [4]:
df1.shape

(13403695, 17)

In [5]:
df1.head(1)

,ID,conversation_id,date_end,date_start,datetime,has_media,is_quote,is_reply,is_retweet,nbr_favorite,nbr_reply,nbr_retweet,search_string,text,url,user_id,usernameTweet
0,940606059626090496,940606059626090496,2018-02-25,2017-12-11,2017-12-12 16:35:34,NaN,False,False,False,3,0,2,Accord Healthcare,We talk exclusively to Accord Healthcare 's E...,/SupplyChainD/status/940606059626090496,60939437,SupplyChainD

### DATA ROUND 2

In [6]:
df2 = pd.read_pickle(FILE2)

In [7]:
df2.shape

(3179165, 17)

In [8]:
df2.head(1)

,ID,conversation_id,date_end,date_start,datetime,has_media,is_quote,is_reply,is_retweet,nbr_favorite,nbr_reply,nbr_retweet,search_string,text,url,user_id,usernameTweet
0,365237532335681536,365237532335681536,2013-08-08,2013-05-24,2013-08-08 00:26:28,NaN,False,False,False,1,1,0,Center Parcs,@levvis_ IS PLAYING IN SHERWOOD CENTER PARCS ...,/harrietreees/status/365237532335681536,632284101,harrietreees

### DATA ROUND 3

In [9]:
df3 = pd.read_pickle(FILE3)

In [10]:
df3.shape

(1494534, 17)

In [11]:
df3.head(1)

,ID,conversation_id,date_end,date_start,datetime,has_media,is_quote,is_reply,is_retweet,nbr_favorite,nbr_reply,nbr_retweet,search_string,text,url,user_id,usernameTweet
0,837089714167562243,837084004276977665,2017-03-02,2016-12-16,2017-03-02 00:58:34,NaN,False,True,False,0,0,0,IKEA,thx now I can properly go to ikea,/wolfbrin121/status/837089714167562243,801204760858820609,wolfbrin121

> Remarque : 17 colonnes à chaque fois = OK

### On merge les 3

In [12]:
df = df1.append(df2).append(df3)

In [13]:
df.shape

(18077394, 17)

In [14]:
# Remove has media
df.drop(['has_media'], axis=1, inplace=True)

In [17]:
df.shape

(18077394, 16)

In [18]:
# On sauvegarde au format compressé
df.to_pickle(OUTPUT_FILE_GZIP, compression='gzip')