### This file removes events scraped by error

In [1]:
import pandas as pd

In [2]:
INPUT_FILE_GZIP = './_sources_final/pickles/pression_sociale_rounds_1_2_3.pickle.gzip'

In [3]:
df = pd.read_pickle(INPUT_FILE_GZIP, compression='gzip')

In [4]:
total_source = len(df)
len(df)

18077394

In [5]:
df.head(2)

,ID,conversation_id,date_end,date_start,datetime,is_quote,is_reply,is_retweet,nbr_favorite,nbr_reply,nbr_retweet,search_string,text,url,user_id,usernameTweet
0,940606059626090496,940606059626090496,2018-02-25,2017-12-11,2017-12-12 16:35:34,False,False,False,3,0,2,Accord Healthcare,We talk exclusively to Accord Healthcare 's E...,/SupplyChainD/status/940606059626090496,60939437,SupplyChainD
1,940254856471896064,940254856471896064,2018-02-25,2017-12-11,2017-12-11 17:20:01,False,False,False,0,0,0,Accord Healthcare,"""The equitable/legal title conundrum and claim...",/VennerShipley/status/940254856471896064,498639837,VennerShipley

#### Dyson

In [6]:
df = df.drop(df[(df.search_string == 'Dyson') & (df.date_start == '2014-04-21')].index)

In [7]:
total_source - len(df)

222414

In [8]:
total_source = len(df)
len(df)

17854980

In [9]:
df = df.drop(df[(df.search_string == 'Dyson') & (df.date_start == '2018-01-15')].index)

In [10]:
total_source - len(df)

169893

In [11]:
total_source = len(df)
len(df)

17685087

#### Economy Energy

In [12]:
df = df.drop(df[(df.search_string == 'Economy Energy') & (df.date_start == '2016-10-30')].index)

In [13]:
total_source - len(df)

1383

In [14]:
total_source = len(df)
len(df)

17683704

#### British Telecom

In [15]:
df = df.drop(df[(df.search_string == 'British Telecom') & (df.date_start == '2014-04-04')].index)

In [16]:
total_source - len(df)

2628

In [17]:
total_source = len(df)
len(df)

17681076

In [18]:
df = df.drop(df[(df.search_string == 'British Telecom') & (df.date_start == '2014-09-05')].index)

In [19]:
total_source - len(df)

2394

In [20]:
total_source = len(df)
len(df)

17678682

In [21]:
df = df.drop(df[(df.search_string == 'British Telecom') & (df.date_start == '2015-05-09')].index)

In [22]:
total_source - len(df)

1989

In [23]:
total_source = len(df)
len(df)

17676693

#### BBC Studios

In [24]:
df = df.drop(df[(df.search_string == 'BBC Studios') & (df.date_start == '2014-04-19')].index)

In [25]:
total_source - len(df)

2739

In [26]:
total_source = len(df)
len(df)

17673954

In [27]:
df = df.drop(df[(df.search_string == 'BBC Studios') & (df.date_start == '2015-05-18')].index)

In [28]:
total_source - len(df)

2634

In [29]:
total_source = len(df)
len(df)

17671320

In [30]:
df = df.drop(df[(df.search_string == 'BBC Studios') & (df.date_start == '2017-05-22')].index)

In [31]:
total_source - len(df)

2181

In [32]:
total_source = len(df)
len(df)

17669139

#### BHS

In [33]:
df = df.drop(df[df.search_string == 'BHS'].index)

In [34]:
total_source - len(df)

0

In [35]:
total_source = len(df)
len(df)

17669139

#### The Works

In [36]:
df = df.drop(df[(df.search_string == 'The Works') & (df.date_start == '2017-07-10')].index)

In [37]:
total_source - len(df)

118523

In [38]:
total_source = len(df)
len(df)

17550616

#### John Lewis

In [39]:
df = df.drop(df[df.search_string == 'John Lewis'].index)

In [40]:
total_source - len(df)

733748

In [41]:
total_source = len(df)
len(df)

16816868

#### Jaguars

In [42]:
jaguar_dates = ['2013-07-27', '2014-04-28', '2014-05-05', '2017-05-05']

In [43]:
df = df.drop(df[df.text.str.contains('jaguars', case=False) & (df.date_start.isin(jaguar_dates))].index)

In [44]:
total_source - len(df)

933241

In [45]:
total_source = len(df)
len(df)

15883627

#### Sauvegarde

In [46]:
OUTPUT_FILE_GZIP = './_sources_final/pickles/pression_sociale_rounds_1_2_3_corrected.pickle.gzip'

In [47]:
df.to_pickle(OUTPUT_FILE_GZIP, compression='gzip')

In [48]:
# On vérifie qu'il existe des tweets avec juste jaguar
len(df[df.text.str.contains('jaguar', case=False)])

363338