## Explore data by users

In [1]:
import pandas as pd

In [2]:
INTPUT_FILE_GZIP = './_sources_final/pickles/pression_sociale_rounds_1_2_3_clean_str.pickle.gzip'

In [3]:
df = pd.read_pickle(INTPUT_FILE_GZIP, compression='gzip')

In [4]:
df_users_100 = df.usernameTweet.value_counts().loc[lambda x : x > 99].to_frame().reset_index()

In [5]:
len(df_users_100)

9887

In [6]:
df_users_100.columns = ['userName', 'nbTweets']
df_users_100.head(2)

     userName  nbTweets
0  sainsburys    131678
1   McDonalds     80197

In [7]:
OUTPUT_FILE = './_sources_final/controls/02_users_100_counts.xls'

In [8]:
df_users_100.to_excel(OUTPUT_FILE)

In [11]:
df_users_100.head(100)

           userName  nbTweets
0        sainsburys    131678
1         McDonalds     80197
2   ASOS_HeretoHelp     79314
3             z3zro     52914
4     PokeMaster409     46342
5      NatWest_Help     32143
6          waitrose     24015
7       TandMProdCo     23583
8    housepassionuk     21267
9        Dominos_UK     19635
10            DJLNR     16085
11     Honda_BF_New     16024
12            Tesco     14228
13       UKdealshot     12704
14    aldi_fahreza_     11996
15    Honda_BF_Used     11843
16     Edgar_Braman     10966
17     admiral_baby     10597
18  Windsorhondacar     10104
19         asda_maq      9451
20   mobiledirectuk      9326
21          dominos      9068
22          Betfred      8961
23            Skype      8468
24  windsorhondanew      8063
25      UK_TopDeals      8001
26         eyalfeed      7720
27           sm11ff      7566
28    _MrDavidJones      7126
29  AmericanBanking      7097
..              ...       ...
70     ManualCarPDF      3867
71   DownloadCarPDF      3857
72    AutoPDFManual      3852
73    PDFCarsManual      3847
74   CarWorkshopPDF      3826
75       CarPDFBook      3826
76     CarPDFShared      3815
77    TribeGuardian      3793
78         vauxhall      3785
79        CYBERCABZ      3725
80       WatchlistN      3704
81   justfoodtweets      3703
82      BizDatabase      3701
83   BankingFinTech      3628
84   CuteShipKongou      3605
85       retail_Dbt      3549
86              ITV      3528
87   tireswholesale      3445
88    A_Nissan_life      3444
89        nowbetnow      3392
90       mark332300      3374
91           ae3131      3359
92       mattison76      3351
93   DrawingRoomNYC      3338
94   EasyBuyMobiles      3334
95      FPaceForums      3294
96      footballfbb      3236
97  sportsupdatefbb      3223
98       WexMart161      3199
99      freebigbets      3184

[100 rows x 2 columns]